{% extends 'generator/index.html' %}

{% block content %}
<h4>Select parameters of the white noise : </h4>
<form method="POST" class="post-form">
      {% csrf_token %}

      <div class="row align-middle">
        <div class="col-sm-4">
        Fix the parameters of the {{ law }} distribution.
        </div>

        <div class="col-sm-3">

          {{ form.as_p }}

        </div>

        <div class="col-sm-2">
          <div>
            <button type="submit" class="button-class">NEXT</button>
          </div>
         </div>
        </div>





</form>
{% endblock %}
