{% extends 'generator/index.html' %}

{% block content %}
<h4>Simulation Details: </h4>
<form method="POST" class="post-form">
      {% csrf_token %}

      <div class="row align-middle">
        <div class="col-sm-5">
          <p>Input the rational operator of the form
  $$
  P(\mathrm{D})Q(\mathrm{D})^{-1}
  $$
  The polynomials $P$ and $Q$ are defined through the list of their coefficients :</p>
  <ul>
  <li>$P(\mathrm{D}) = p_0 \mathrm{D}^n + p_1 \mathrm{D}^{n-1} + ... + p_n$ is represented as <br/>
    <center><code>P = p_0, ..., p_n </code> </center></li>
  <li>$Q(\mathrm{D}) = q_0 \mathrm{D}^m + q_1 \mathrm{D}^{m-1} + ... + q_m$ is represented as <br/>
     <center><code>Q = q_0, ..., q_m</code></center></li>
  </ul>
  <p>Define the operators by providing comma separated lists of the coefficients of  <code>P</code> and <code>Q</code>.
    </div>

        <div class="col-sm-3">

          <table>
      <tr>
        <td><label for="id_p">Coefficients of P : </label></td>
        <td><input type="text" name="p" required id="id_p" /></td>
      </tr>
      <tr>
        <td><label for="id_q">Coefficients of Q : </label></td>
        <td><input type="text" name="q" required id="id_q" /></td>
      </tr>
      </table>
      </div>
      </div>
      <br/>
      <div class="row align-middle">
        <div class="col-sm-5">
          Select the simulation interval <code>[0, T]</code> <br/>
          The step <code>h</code> of the grid on the interval. <br/>
          And the number of independent trajectories you wish to generate.
        </div>

        <div class="col-sm-3">
          <table>

      <tr>
        <td><label for="id_T">Simulation interval T:</label></td>
        <td><input type="number" name="T" min="0" step="any" required id="id_T" /></td>
      </tr>
      <tr>
        <td><label for="id_h">Step size h:</label></td>
        <td><input type="number" name="h" min="0" step="any" required id="id_h" /></td>
      </tr>
      <tr>
        <td><label for="id_numsim">Number of simulations:</label></td>
        <td><input type="number" name="numsim" min="1" max="10000" required id="id_numsim" /></td>
      </tr>
          </table>

        </div>

        <div class="col-sm-2">
          <div class="button">
            <button type="submit" class="button-class-gen">GENERATE</button>
          </div>
          </div>
        </div>



</form>
{% endblock %}
